[user]
    name = Arinc Elhan
    email = elhanarinc@gmail.com

[github]
    user = elhanarinc

[color]
    ui = true

[color "branch"]
    current = blue reverse
    local = blue
    remote = red

[color "status"]
    added = yellow
    changed = cyan
    untracked = red

[alias]
    st = status
    cmt = commit
    br = branch
    co = checkout
    lg = log -p
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    unstage = !sh -c 'git reset --hard HEAD && git clean -fd'
    put = push origin HEAD
    update = !sh -c 'git stash && git pull && git stash pop'
    addnonew = add -u
    addall = add -A
    addnodel = add .

[core]
    excludesfile = ~/.gitignore
    pager = less
    editor = vim

[push]
    default = current

[diff]
    renames = true
    mnemonicprefix = true
    tool = vimdiff

[difftool]
    prompt = false
