[user]
    name = Arinc Elhan
    email = elhanarinc@gmail.com

[github]
    user = elhanarinc

[color]
    ui = true

[color "branch"]
    current = blue reverse
    local = blue
    remote = red

[color "status"]
    added = yellow
    changed = cyan
    untracked = red

[alias]
    br = branch
    co = checkout
    lg = log -p
    st = status
    cmt = commit
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    unstage = !sh -c 'git reset --hard HEAD && git clean -fd'
    update = !sh -c 'git stash && git pull && git stash pop'
    addall = add -A
    list = branch -a
    renew = !sh -c 'git remote update --prune && git branch -a'

[core]
    excludesfile = ~/.gitignore
    pager = less
    editor = meld

[push]
    default = current

[diff]
    renames = true
    mnemonicprefix = true
    tool = meld

[difftool]
    prompt = false
