[user]
    name = Arinc Elhan
    email = elhanarinc@gmail.com

[github]
    user = elhanarinc

[init]
    defaultBranch = master

[color]
    ui = true

[color "branch"]
    current = blue reverse
    local = blue
    remote = red

[color "status"]
    added = yellow
    changed = cyan
    untracked = red

[alias]
    br = branch
    co = checkout
    sw = switch
    new = switch -c
    lg = log -p
    st = status
    cmt = commit
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    unstage = restore --staged
    nuke = !git reset --hard HEAD && git clean -fd
    update = !git stash && git pull && git stash pop
    addall = add -A
    list = branch -a
    renew = !git remote update --prune && git branch -a
    uncommit = reset --soft HEAD~1
    aliases = config --get-regexp alias
    contributors = shortlog --summary --numbered --no-merges

[core]
    excludesfile = ~/.gitignore
    pager = delta
    autocrlf = input
    editor = vim

[delta]
    navigate = true
    light = false
    side-by-side = true
    line-numbers = true

[interactive]
    diffFilter = delta --color-only

[pull]
    rebase = false

[fetch]
    prune = true

[push]
    default = current

[diff]
    renames = true
    mnemonicprefix = true

[difftool]
    prompt = false

[merge]
    conflictstyle = zdiff3
